Client/Service References/AccountingServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Accounting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Accounting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:double" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountingResult" nillable="true" type="tns:AccountingResult" />
</xs:schema>